server:
  port: 9999
  error:
    include-message: always
    include-exception: true

ai:
  openai:
    max-tokens: 1000
    temperature: 0.5
    text-model: qwen3-max
    full-model: qwen3-omni-flash
    reRank-model: qwen3-rerank
    # chat 文本模型，全模态模型无法 function calling
    chat-model-type: text

spring:
  main:
    allow-bean-definition-overriding: true
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 50MB
  data:
    mongodb:
      uri: mongodb://${MONGO_USER}:${MONGO_PWD}@${MONGO_HOST}:27017/spring-ai?authSource=admin
  ssl:
    bundle:
      pem:
        opensearch:
          truststore:
            certificate: "classpath:certs/opensearch-ca.pem"
  ai:
    dashscope:
      api-key: ${AI_DASHSCOPE_API_KEY}
    openai:
      api-key: ${OPENAI_API_KEY}
      base-url: https://dashscope.aliyuncs.com/compatible-mode
    chat:
      client:
        # 关闭自动注入 client.builder，只注入 ClientModel
        enabled: false
    model:
      # 指定 embedding 模型提供方，避免加载到 OpenAiEmbeddingAutoConfiguration
      embedding: dashscope
      # 指定 chat 模型提供方，避免加载到 DashScopeChatAutoConfiguration
      chat: openai
      # rerank 模型
      rerank: dashscope
    # mcp
#    mcp:
#      client:
#        streamable-http:
#          connections:
#            my-weather-server:
#              url: http://localhost:9001
    vectorstore:
      opensearch:
        uris: ${OPEN_SEARCH_URI}
        username: ${OPEN_SEARCH_USER}
        password: ${OPEN_SEARCH_PWD}
        index-name: spring-ai-document-index
        # 首次启动时自动创建索引和映射
        initialize-schema: true
        # 相似度计算函数（OpenSearch 支持 'cosinesimil' 或 'l2'）
        similarity: cosinesimil
        read-timeout: 30s
        connection-timeout: 10s
        ssl-bundle: opensearch

#      chat:
#        options:
#          # 文本模型 qwen3-max
#          model: qwen3-max
#          max-tokens: 1000
#      # 全模态模型 qwen3-omni-flash
#      image:
#        options:
#          model: qwen3-omni-flash


logging:
  level:
    org:
      springframework:
        ai:
          chat:
            client:
              advisor: info
