server:
  port: 9999
  error:
    include-message: always
    include-exception: true

ai:
  openai:
    max-tokens: 1000
    temperature: 0.5
    text-model: qwen3-max
    full-model: qwen3-omni-flash

spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 50MB
  ai:
    chat:
      client:
        # 关闭自动注入 client.builder，只注入 ClientModel
        enabled: false
    openai:
      api-key: ${OPENAI_API_KEY}
      base-url: https://dashscope.aliyuncs.com/compatible-mode
#      chat:
#        options:
#          # 文本模型 qwen3-max
#          model: qwen3-max
#          max-tokens: 1000
#      # 全模态模型 qwen3-omni-flash
#      image:
#        options:
#          model: qwen3-omni-flash


logging:
  level:
    org:
      springframework:
        ai:
          chat:
            client:
              advisor: debug
