server:
  port: 7001

spring:
  ssl:
    bundle:
      pem:
        opensearch:
          truststore:
            certificate: "classpath:certs/opensearch-ca.pem"
  ai:
    dashscope:
      api-key: ${AI_DASHSCOPE_API_KEY}
#      embedding:
#        options:
#          # qwen2.5-vl-embedding(全模态 embedding 模型)
#          model: qwen2.5-vl-embedding
    model:
      embedding: dashscope
    vectorstore:
      opensearch:
        uris: ${OPEN_SEARCH_URI}
        username: ${OPEN_SEARCH_USER}
        password: ${OPEN_SEARCH_PWD}
        index-name: spring-ai-document-index
        # 首次启动时自动创建索引和映射
        initialize-schema: true
        # 相似度计算函数（OpenSearch 支持 'cosinesimil' 或 'l2'）
        similarity: cosinesimil
        read-timeout: 30s
        connection-timeout: 10s
        ssl-bundle: opensearch
